@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: aliceblue;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container .trigger {
  font-size: 14px;
  color: aliceblue;
  padding: 4px 8px;
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
  position: relative;
}
.container .trigger--primary {
  background-color: #4983cf;
}
.container .trigger--secondary {
  background-color: #be5064;
}
.container [role=tooltip] {
  width: calc(100% + 40px);
  height: auto;
  padding: 8px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #003249;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 15px);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.container [role=tooltip].active {
  opacity: 1;
  visibility: visible;
}
.container [role=tooltip]::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #003249;
}